params {
  // illumina iGenomes reference file paths
  rawdata="s3://egenesis-data-raw"
  processeddata="s3://egenesis-data-processed"
  gtf_version="99"
  genomes {
    'Sscrofa11.1' {
      fasta = "${params.genomedata}/Sus_scrofa/Sscrofa11.1/ensembl/genome/Sus_scrofa.Sscrofa11.1.dna.toplevel.fa"
      gtf = "${params.genomedata}/Sus_scrofa/Sscrofa11.1/ensembl/v${gtf_version}/Sus_scrofa.Sscrofa11.1.${gtf_version}.gtf"
    }
    'Sscrofa1.11_Mfas5.0' {
      fasta = "${params.genomedata}/Sscrofa_Mfas/Sscrofa1.11_Mfas5.0/ensembl/genome/Sscrofa_Mfas.Sscrofa1.11_Mfas5.0.dna.toplevel.fa"
      gtf = "${params.genomedata}/Sscrofa_Mfas/Sscrofa1.11_Mfas5.0/ensembl/v${gtf_version}/Sscrofa_Mfas.Sscrofa1.11_Mfas5.0.${gtf_version}.gtf"
    }
    'perv' {
      fasta = "${params.genomedata}/ncbi/perv/pervc_coding.fasta"
    }
    'contaminants'{
      fasta = "${params.genomedata}/syndna/pBACN.fa,${params.genomedata}/Escherichia_coli/HUSEC2011CHR1/ensembl/genome/Escherichia_coli.HUSEC2011CHR1.dna.toplevel.fa"
    }
    'syndna' {
      path = "syndna"
    }
    'test' {
      fasta = "testdata/genome/genome.fa"
      gtf = "testdata/genome/tx.gtf"
    }
  }
}

