/*
 * -------------------------------------------------
 * Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */


//params.tracedir = "${params.outdir}/pipeline_info/."
params.awsregion = "us-east-1"
params.awsqueue = "nextflow-default"
process.queue = params.awsqueue
aws.region = params.awsregion
process.executor = 'awsbatch'
workDir = "s3://egenesis-data-processed/nextflowdataegenesis/scrnaseq"
params.awscli = '/home/ec2-user/miniconda/bin/aws'
aws.batch.cliPath = params.awscli
aws.batch.maxParallelTransfers = 5

